svg {
  width: 110px;
  height: auto;
  margin-top: 8rem;
}

.disabled {
  background-color: grey !important;
  color: white !important;
  border-color: white;
  pointer-events: none;
}

.page-container {
  transition: all 0.4s ease;
  min-height: 100vh;
  &.cart-active {
    transform: translateX(-20rem);
  }

  .mini-header {
    height: 400px;
    background-color: #32253d;
    display: flex;
    align-items: center;
    background-image: url(../img/brush.png);
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: 40%;

    .page-title::after {
      color: white;
      content: attr(data-content);
      font-size: 2.5rem;
      position: relative;
      align-self: center;
      margin: 2rem;
      left: 10vw;
      mix-blend-mode: difference;
    }
  }
}

.clear-cart {
  color: white;
  background-color: red;
  border: 2px solid red;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: 700;
  transition: all 0.4s ease;
  margin: 2rem auto;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: red;
  }
}

.navbar-container {
  display: flex;
  flex-direction: row;
  padding: 1.3rem 0 0.6rem 0;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 3rem;
  font-family: "montserrat", sans-serif;
  transition: all 0.4s ease;
  z-index: 3;

  &.scroll {
    background-color: white;
    box-shadow: 0 4px 5px -5px gray;
    top: 0rem !important;

    .navbar-item,
    .logo {
      color: #7296a1 !important;
    }
  }

  &.cart-open {
    transform: translateX(-20rem);
  }

  .logo {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 2rem;
    margin-right: 10vw;
  }

  .navbar-item {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 0.7rem;
    position: relative;
    top: 0.2rem;
    padding: 0.3rem 0;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.active,
    &:hover {
      border-bottom: 2px solid #7296a1;
    }

    &.fa-bars {
      margin: 0;
      margin-left: 0.7rem;
      margin-top: -0.1rem;
      display: none;
      font-size: 1.3rem;
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: auto;
    right: 2rem;

    i {
      margin-top: 0 !important;
    }

    i.fa-shopping-cart.cart-number:after {
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      content: attr(data-count);
      font-size: 1rem;
      padding: 2px;
      border-radius: 50%;
      color: white;
      background: rgba(255, 0, 0, 0.85);
      text-align: center;
      font-family: "montserrat", sans-serif;
      min-width: 0.9rem;
      //font-weight:bold;
    }
  }
}

@media screen {
  .navbar-item:hover {
    border: none !important;
  }
}

//////////////////

.header {
  height: 800px;
  background-color: #175a71;
  display: flex;
  align-items: center;
  padding: 10%;
  padding-bottom: 0;
  justify-content: space-between;

  h1 {
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
  }

  .btn {
    color: #4d656d;
    background-color: white;
    max-width: fit-content;
    padding: 0.6rem 1.2rem;
    border-radius: 2px;
    font-weight: 700;
    margin: 0.5rem;
  }

  .right-side {
    width: 50%;
    position: relative;
    height: 100%;
    background-image: url("../img/brush.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    .image {
      height: 100%;
      background-image: url("../img/download.png");
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 1030px) {
  .header {
    flex-direction: column;
  }

  .navbar-container {
    top: 0.5rem !important;
  }
}

@media (max-width: 812px) {
  .header .right-side {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .header {
    padding-top: 6rem;
  }

  .navbar-container .links-container {
    display: none;
  }
  .navbar-container .logo {
    margin-left: 0.5rem !important;
  }

  .navbar-container .fa-bars {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  .navbar-container {
    padding: auto 0 !important;
    justify-content: space-between;
    .logo {
      font-size: 1.1rem;
      margin-top: 0.3rem;
      margin-right: 1rem;
    }

    .right-side {
      position: relative;
      right: 0.5rem;
    }
  }
  .header {
    padding-top: 10rem;
    h1 {
      font-size: 3rem;
    }

    .left-side {
      margin-bottom: 4rem;
    }

    .right-side {
      width: 100%;
    }
  }
}

@media (max-width: 360px) {
  .header {
    padding: 0 0.7rem;
    padding-top: 10rem;
  }
}

@media (min-width: 700px) {
  .section {
    max-width: 1200px;
    padding: 7vw;
  }
}

.section {
  min-height: 800px;
  padding: 1rem;
  margin: 2rem auto;

  .content-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    max-width: fit-content;
    transition: all 0.4s ease;

    &:hover {
      border-color: #7296a1;
    }
  }
}

.card-container {
  height: 425px;
  width: 230px;
  border-radius: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 5px;
  position: relative;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0px 1px 2px 1px #80808073;
  }

  .name {
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category {
    font-size: 0.9rem;
    color: #7296a1;
    margin-left: 0.7rem;
    font-weight: 500;
    margin-top: 0.1rem;
  }

  .rating {
    margin-left: 0.7rem;

    i {
      font-size: 0.9rem;
      color: #f6b100;

      &.fa-star-o {
        color: #4d656d;
      }
    }
  }

  .price {
    display: flex;
    flex-direction: row;
    width: calc(100% + 10px);
    position: relative;
    // left: -5px;
    background-color: #175a71;
    color: white;
    padding: 0.4rem;
    text-align: center;
    justify-content: space-around;

    span {
      font-weight: 600;
    }
  }

  .add-to-cart-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;

    .add-to-cart-btn {
      background-color: #f6b100;
      height: fit-content;
      width: fit-content;
      padding: 0.5rem 0.1rem;
      color: white;
      font-weight: 600;
      font-size: 0.85rem;
      margin-left: 0.5rem;
      border-radius: 2px;
      border: 2px solid #f6b100;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        background-color: transparent;
        color: #f6b100 !important;

        i {
          color: #f6b100 !important;
        }
      }

      i {
        color: white;
        margin-left: 5px;
      }
    }
  }
}
.quantity-container {
  display: flex;
  flex-direction: row;

  .increase,
  .decrease {
    padding: 0 0.6rem;
    background-color: #f7f7f7;
    color: #175a71;
    font-size: 1.7rem;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: 0.4s ease;

    &:hover {
      background-color: #175a71;
      color: white;
    }
  }

  input {
    outline: none;
    font-size: 1.2rem;
    border: 1px solid #e0e0e0;
    width: 30px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }
}

@media (min-width: 600px) {
  .add-to-cart-container {
    display: none !important;
  }

  .content-container {
    margin: 3rem;
  }
  .card-container {
    &:hover {
      .add-to-cart-container {
        display: flex !important;
      }
    }
  }
}

@media (hover: none) {
  .add-to-cart-container {
    display: flex !important;
  }
}

.cart-container {
  width: 20rem;
  position: fixed;
  overflow: scroll !important;
  padding: 1rem;
  min-height: 100vh;
  z-index: 10;
  right: 0rem;
  top: 0rem;
  transform: translateX(120vw);
  transition: all 0.4s ease;
  box-shadow: -3px 0px 3px 1px #aaaaaa41;
  background-color: white;
  &.active {
    transform: translate(0);
    overflow: scroll !important;
  }

  .checkout-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    .total {
      font-size: 1.1rem;
      font-weight: 500;

      span {
        font-weight: 800;
      }
    }

    .checkout-btn {
      background-color: green;
      padding: 0.5rem;
      border-radius: 3px;
      margin-top: -0.6rem;
      font-size: 0.9rem;
      border: 2px solid green;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.4s ease;
      text-underline-offset: 5px;

      &:hover {
        background-color: transparent !important;
        color: green;
      }
    }
  }
  .close-button {
    position: absolute;
    color: #175a71;
    font-size: 1.8rem;
    right: 1rem;
    cursor: pointer;
  }

  &.no-items {
    span {
      display: flex;
      margin: 1rem auto;
      color: #175a71;
      font-weight: 600;
    }
  }

  .heading-container {
    text-align: center;
    font-size: 1.3rem;
    margin: 4rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .items-count {
      font-size: 1rem;
      color: #175a71;
    }
  }
}

////////Cart Card///////@at-root
.cart-card-container {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
  position: relative;

  .details-container {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1rem;
      font-weight: 600;
      margin: 0rem 0.5rem;
      margin-top: 0;
    }

    .price {
      margin: 0.1rem 0.5rem;
      span {
        font-weight: 600;
      }
    }

    .description {
      margin: 0.1rem 0.5rem;
      margin-bottom: 0.6rem;
      padding-right: 2.5rem;
      span {
        font-weight: 600;
      }
    }

    .quantity-container {
      margin: 0rem 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .increase {
        padding: 0 0.2rem;
        font-size: 1.3rem;
      }

      .decrease {
        margin-left: 0.5rem;
        padding: 0 0.3rem;
        font-size: 1.3rem;
      }

      input {
        font-size: 1rem;
        padding: 0;
        height: 100%;
      }
    }
  }

  .delete {
    position: absolute;
    right: 0rem;
    background-color: transparent;
    padding: 0.5rem;
    color: red;
    border-radius: 3px;
    top: 25%;
    cursor: pointer;
    border: 2px solid red;
    transition: all 0.4s ease;

    &:hover {
      background-color: red !important;
      color: white;
    }
  }
}

@media (max-width: 700px) {
  .cart-card-container {
    img {
      width: 60px !important;
      height: 60px !important;
    }
    .details-container .description {
      display: none !important;
    }
  }
}

.checkout-page-container {
  min-height: 100vh;

  .heading {
    color: #32253d;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }

  .checkout-cart-container {
    max-width: 1200px;
    padding: 7vw;
    margin: auto;
    position: relative;
  }

  .options-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .total {
      font-size: 1.2rem;
      font-weight: 600;

      span {
        font-weight: 800;
      }
    }

    .clear-cart {
      margin: 2rem 0.5rem !important;
    }

    .paystack,
    .paypal,
    .btn {
      border: 2px solid;
      width: fit-content;
      margin: 2rem 0.5rem;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.4s ease;

      i {
        margin-right: 0.5rem;
      }
    }

    .notice {
      color: red;
      font-weight: 500;
      margin: 2rem 1rem;
      font-size: 1.1rem;
    }

    .blue {
      color: white;
      background-color: #175a71;
      padding: 0.5rem;
      text-decoration: none;
      text-emphasis: none;
      font-weight: 500;

      &:hover {
        background-color: transparent;
        color: #175a71;
      }
    }

    .paypal {
      color: white;
      background-color: #175a71;
      padding: 0.5rem;

      &:hover {
        background-color: transparent;
        color: #175a71;
      }
    }

    .paystack {
      color: white;
      background-color: #3bb75e;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.3rem;

      .img {
        height: 1.6rem;
        width: 2rem;
        background-image: url(../img/paystack.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        background-color: transparent;
        color: #3bb75e;
      }
    }
  }
}

@media (max-width: 750px) {
  .options-container {
    flex-direction: column !important;

    .paypal,
    .paystack {
      margin: 0.1rem !important;
    }
  }
}

@media (max-width: 500px) {
  .checkout-header {
    background-size: 100% !important;
  }
}

/////////////Sidebar Styles////////

.sidebar-container {
  position: fixed;
  width: 17rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 10;
  padding-top: 3rem;
  transform: translateX(-120vw);
  transition: all 0.4s ease;
  box-shadow: 60px 0px 100px -90px #000000;

  &.active {
    transform: translate(0) !important;
  }

  .logo {
    font-size: 1.4rem;
    margin: 2rem;
    margin-left: 0.5rem;
    position: relative;
    color: #175a71;
    font-weight: 500;

    span {
      font-size: 0.7rem;
      font-style: italic;
      margin-left: 2rem;
      position: relative;
      top: -0.8rem;
    }
  }

  i.fa-times {
    font-size: 2rem;
    color: #175a71;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .links-container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    padding-top: 7rem;

    .sidebar-item {
      background-color: #175a71;
      color: white;
      margin: 0.25rem 0;
      padding: 0.6rem;
      padding-left: 1rem;
      font-weight: 500;
      text-emphasis: none;
      text-decoration: none;
      transition: all 0.4s ease;

      i {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: #175a7179;
      }

      &.active {
        background-color: #175a7179;
      }
    }
  }
}
